# Add any directories, files, or patterns you don't want to be tracked by version control
*.pyc
*pcs.ipynb_*
*.DS_Store
venv*
ipynbs/.ipynb_checkpoints/
data/
htmls/
vses
www.bom.gov.au/
dist/
teslakit.egg-info/
.ipynb_checkpoints
ReadJoaoMat.py
